# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Environment
.env
.env.local

# OSRM data
osrm-data/
*.osm.pbf
*.osrm
*.osrm.*
!osrm-data/.gitkeep   # if you want to keep the folder structure

# Redis
dump.rdb

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
